#main {
    background-color: rgb(49, 29, 230);
    font-family: 'Courier New', Courier, monospace;
}

#Menu{
    text-align: center;
}

#game1{
    padding: 100px ;
    text-align: center;
}

.selectScreen{
    padding: 100px ;
    text-align: center;
}

.Buttons{
    background-color: #4d4dff; 
    border: none;
    color: #00004d;
    padding: 15px 15px;
    width: 150px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

.Buttons:hover {
    background-color: #8888fd; 
}

.textBox{
    background-color: #4d4dff; 
    border: none;
    color: #00004d;
    padding: 15px 32px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

.mySelect{
    background-color: #4d4dff; 
    border: none;
    color: #00004d;
    width: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#Compar{
    background-color: #4d4dff; 
    border: none;
    color: #00004d;
    padding: 15px 32px;
    width: 1500px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    margin: auto;
}

#ComparingSymbolsValues{
    text-align: center;
    margin: 20px;
}

.paragraph1{
    font-family: monospace;
}

.numbersColumns{
    width: 150px;
    margin: 0px;
    float:left;
    overflow: hidden;
}

.numbers{
    background-color: #00004d; 
    border: none;
    color: #4d4dff;
    padding: 15px 15px;
    width: 100px;
    height: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;

}